$white-color: #ffffff;
$blaze-orange-color: #fe6601;
$bleached-cedar-color: #281e32;
$silver-color: #bcbcbc;
$boulder-color: #7a7979;
$porsche-color: #ed9e67;
$korma-color: #86370e;
$matisse-color: #1d5191;

:export {
  whiteColor: $white-color;
  blazeOrangeColor: $blaze-orange-color;
  bleachedCedarColor: $bleached-cedar-color;
  silverColor: $silver-color;
  boulderColor: $boulder-color;
  porscheColor: $porsche-color;
  kormaColor: $korma-color;
}
